<!-- forgot_password.html -->
{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
{% include 'authformhead.html' %}

<h4 class="font-weight-bolder">Forgot your Password?</h4>
                  <p class="mb-0">Enter your email and we will send you a link to reset it.</p>
                </div>
                <div class="card-body">
  <form role="form" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.email.label }} {{ form.email(class="form-control form-control-lg", placeholder="Email", aria_label="Email") }}
    </div>

    <div class="mb-3">
      {{ form.submit(class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0") }}
    </div>
  </form>
  </div>

  {% if not user_exists %}
    <p>No account with that email address exists.</p>
  {% endif %}
  {% include 'authformfooter.html' %}

  {% include '_corejs.html' %}

  {% endblock %}