{% extends "base.html" %}
{% block title %}Add a User{% endblock %}
{% block bodyclass %}g-sidenav-show h-100 bg-gray-100{% endblock %}

{% block content %}
  <h1>Profile</h1>
  <p>this page still need formatted</p>
  {% if user.profile_photo_url %}
  <!-- Display the user's profile photo -->
  <img src="{{ user.profile_photo_url }}" alt="User's Profile Photo" width="200">
    {% else %}
    <!-- Display the default fallback image -->
    <img src="/static/assets/img/default_profile_photo.jpg" alt="Default Profile Photo" width="200">
    {% endif %}
  <p>Email: {{ user.email }}</p>
  <p>First Name: {{ user.fname }}</p>
  <p>Last Name: {{ user.lname }}</p>
  <p>Roles:
    <ul>
      {% for role in user.roles %}
        <li>{{ role.name }}</li>
      {% endfor %}
    </ul>
    </p>

  {% include '_corejs.html' %}
{% endblock %}