</div>
</div>
<div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
  <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
    <img src="{{ url_for('static', filename='assets/img/shapes/pattern-lines.svg') }}" alt="pattern-lines" class="position-absolute opacity-4 start-0">
    <h4 class="mt-5 text-white font-weight-bolder">"Attention is the new currency"</h4>
    <p class="text-white">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
  </div>
</div>
</div>
</div>
</div>
</section>
</main>