
  <!-- Navbar -->
  <nav class="navbar navbar-main navbar-expand-lg position-sticky top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm">
                    <a class="opacity-3 text-dark" href="{{ url_for('index') }}">
                        <i class="fas fa-house"></i>
                    </a>
                </li>
                {% for crumb in breadcrumb %}
                    {% if loop.last %}
                        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">{{ crumb.name }}</li>
                    {% else %}
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-3 text-dark" href="{{ crumb.url }}">{{ crumb.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>


      <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
        <a href="javascript:;" class="nav-link text-body p-0">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </a>
      </div>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
        <ul class="navbar-nav ms-md-auto justify-content-end">
          <li class="nav-item ps-3">
            <a href="{{ url_for('admin.profile') }}" class="d-flex align-items-center nav-link text-body font-weight-bold px-0" target="_self">
              <div>
                {% if current_user.profile_photo_url %}
                  <img src="{{ current_user.profile_photo_url }}" alt="User's Profile Photo" class="avatar avatar-sm me-3">
                {% else %}
                  <img src="/static/assets/img/default_profile_photo.jpg" alt="Default Profile Photo" class="avatar avatar-sm me-3">
                {% endif %}
              </div>
              <span class="d-sm-inline d-none">Hi, {{ current_user.fname }}</span>
            </a>
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->